*,*::before,*::after {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

#content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    height: 50%;
    width: 50%;
}

.button {
    height: 100px;
    width: 100px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 1.2rem;
}